*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#nav{
    background-color: #d1c4e9;
    position: absolute;
    width: 100%;
    top:-100px;
    transition: ease-out 1s;
    
}
#nav nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
#nav nav ul li{
    margin-right: 20px;
}
#nav nav ul li a{
    font-family: arial;
    font-size: 10pt;
    text-decoration: none;
    color: white;
}
#buscar{
    width: 500px;
    margin-right: 10px;
    padding: 5px;
    background-color: #ede7f6;
    border: 0px;
    outline: none;
}
button{
    padding: 5px;
    border: 0px;
    background-color: #9575cd;
    cursor: pointer;
    color: white;
}
#fechar{
    color: white;
    text-decoration: none;
    position: absolute;
    right: 10px;
    font-size: 20pt;
    font-family: Arial;
}
#menu{
    text-decoration: none;
    color: #7c4dff;
    font-size: 20pt;
    font-family: Verdana;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10px;
    transition: ease 0.5s;
}
#menu:hover{
    margin-left: 15pt;
    color: black;
    text-shadow: 0px 0px 5px #aa00ff;
}
#listar,#resultado,#inserir{
    width: 80vw;
    border: 1px solid black;
    margin: 150px auto;
}
#listarlivros{
    display: flex;
    flex-wrap: wrap;
}
.caixa{
    width: 30%;
    margin: 10%;
}
.caixa img{
    width: 100%;
}
h4{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20pt;
    margin: 15px;
}
.preco{
    font-family:cursive;
    font-size: 10pt;
    color: #757575;
}
h5{
    font-size:16px;
    font-family:cursive;
    align-items: center;
    color: #424242;
    
}

#inserir form{
    width: 60%;
    margin: 10px auto;
    padding: 10px;
}
#inserir input[type="text"],
 #inserir select,
 #inserir textarea{
    width: 95%;
    padding: 10px;
    border: 0px;
    border-bottom: #aa00ff 1px solid;
    margin-top: 10px;
    font-size: 12pt;
    outline: none;
}
#txtpreco{
    width: 40% !important;
}
#txtgenero{
    width: 40% !important;
}
#txtsinopse{
    height: 200px;
    resize: none /*bloqueia o redimensionamento*/;
}

